:root{
    --bgcolor:rgb(12, 4, 41);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;    
    /* background-color:rgb(12, 4, 41); */
    background-color: var(--bgcolor);
}

.logo{
    height: 8vh;
    width: 4vw;
}

.profileIcon{
    height: 8vh;
    width: 4vw;
}

#website_name{
    font-size: 30px;
    font-weight: bold;
}

#search{
    background-color: rgb(139, 243, 252);
}

nav{
    height:10vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(12, 4, 41);
    /* background-color: rgb(255, 0, 208); */
    position: fixed;
    /* border: 1px solid white; */
    border-bottom: 0.5px solid white;
    z-index: 2;
    
}       

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav:first-child li{
    margin-right:10px;
}

#favourites{
    margin-left: 30px;
}

.bell{
    width: 3vw;
    height:6vh;
}

.img_preview {
    width: 18vw;
    height: 40vh;
}

.latest_img {
    width:6vw;
    height: 12vh;
}

.parent{
    /* height: 200vh; */
    /* border: 0.5px solid white; */
    /* margin: 5px; */
    /* width: 99vw; */
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"main-img main-img queue"
                        "latest-release latest-release queue"
                        "popular-artist popular-artist queue";

}

.main-img {
    grid-area: main-img;
    display: flex;
}

.main-img ul li{
    /* margin: 5vh 3vh; */
    margin-top:14vh;
    margin-left: 3vw;
    /* background-color: yellow; */
}

.main-img ul li:hover {
    border: 2px solid rgb(233, 233, 233);    
}

.latest-release{
    /* background-color: rgb(0, 8, 255); */
    grid-area: latest-release;
    
}

.latest-heading, .artist_heading{
    margin-left: 2%;
}

.latest-release div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;

}

.latest-release div ul{
    /* background-color: rgb(0, 8, 255);  */
    /* display: inline-block; */
    width:100%;
    margin-left: 2%;
    
}

.latest-release div ul li{
    margin: 5%;
    
}

.queue{
    grid-area:queue;
    border-left: 0.5px solid white;
    margin-top:100px;
    z-index: 1;
    background-color: var(--bgcolor);
    /* margin:100px; */
}

.queue_img{
    width: 4vw;
    height: 8vh;
}

.heart{
    width: 2vw;
    height: 4vh;
}

/* queue headline */
.queue ul:first-child li{
    width: 100%;
    justify-content:space-between;
}

/* list of songs */
.queue ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 0 50px 0 50px; */
    /* margin: 50px auto; */

}

.queue ul li:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.sno,
.queue_img,
.music-name,
.artist {
    margin-right: 30px;
    margin-top: 10px;
}

.artist_div1{
    /* background-color: red; */

    align-items: center;
}

.artist_img{
    width: 7vw;
    height:14vh;
    border-radius:50%;

}

.popular_artist{
    grid-area: popular-artist;
    overflow: hidden;

    /* background-color: red; */
}

.popular_artist div ul li{
    padding: 30px;
    
}

.artist_list{
  overflow-x: scroll;
}