*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;    
    background-color:rgb(12, 4, 41);
}

.logo{
    height: 8vh;
    width: 4vw;
}

.profileIcon{
    height: 8vh;
    width: 4vw;
}

#website_name{
    font-size: 30px;
    font-weight: bold;
}

#search{
    background-color: rgb(139, 243, 252);
}

nav{
    height:10vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(12, 4, 41);
    /* background-color: rgb(255, 0, 208); */
    position: fixed;
    /* border: 1px solid white; */
    border-bottom: 0.5px solid white;
    
}       

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav:first-child li{
    margin-right:10px;
}

#favourites{
    margin-left: 30px;
}

.bell{
    width: 3vw;
    height:6vh;
}

.img_preview {
    width: 18vw;
    height: 40vh;
}

.latest_img {
    width: 5w;
    height: 10vh;
}

.parent{
    height: 100vh;
    /* border: 0.5px solid white; */
    /* margin: 5px; */
    width: 99vw;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"main-img main-img queue"
                        "latest-release latest-release queue"

}

.main-img {
    grid-area: main-img;
    display: flex;
}

.main-img ul li{
    margin: 20px 20px;
    /* background-color: yellow; */
}

.main-img ul li:hover {
    border: 2px solid rgb(233, 233, 233);    
}

.latest-release{
    background-color: rgb(0, 8, 255);
    grid-area: latest-release;
    
}


.queue{
    grid-area:queue;
    border-left: 0.5px solid white;
    margin-top:100px;
    /* margin:100px; */
}

.queue_img{
    width: 4vw;
    height: 8vh;
}

.heart{
    width: 2vw;
    height: 4vh;
}

/* queue headline */
.queue ul:first-child li{
    width: 100%;
    justify-content:space-between;
}

/* list of songs */
.queue ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 0 50px 0 50px; */
    /* margin: 50px auto; */

}

.queue ul li:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.sno,
.queue_img,
.music-name,
.artist {
    margin-right: 30px;
    margin-top: 10px;
}